/*style.css*/
body{
    background-color:lightgrey;
    margin: 0;
    font-family: Arial, sans-serif;
}
.home-link{
	position: absolute;
	top: 10px;
	right: 10px;
}
.login-container{
	background-color: white;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: Arial, sans-serif;
	width: 300px;
	padding: 20px;
	margin:20px;
}

.input-row{
	display: flex;
    /*vertical alignment*/
    flex-direction: column;
    justify-content: space-between;/*horizontal alignment*/
    width: 100%;
    margin-bottom: 15px;
}
.input-row label{
	margin-bottom:5px;/*to give space between input and label*/
}
.register-link{
	color:black;
	font-weight:bold; 
	font-size:12px;
}
.restaurant-container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.restaurant-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.restaurant-container p {
    font-size: 18px;
    margin: 5px 0;
}

.restaurant-container a {
    font-weight: bold;
}
.td{
	padding:10px;
}