<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<display-name>RestaurantBooking</display-name>
<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/jsp/Login/login_page</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/jsp/Login/register</url-pattern>
	</servlet-mapping>
</web-app>
